---
services:
  app:
    hostname: ${PROJECT_HOSTNAME:?}
    build:
      context: .
    image: paprika-pages
    ports:
      - ${PROJECT_PORT:?}:8000
    volumes:
      - .:/app
      - ./data/log:/var/log
    restart: always
