<!doctype html>
<html>

<head>
    <title>{{ page_title ~ ' | ' ~ response.title if page_title else response.title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="Recipe inventory">
    <meta name="pinterest" content="nopin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="home" title="Home" href="/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,400..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block styles %}{% endblock %}
</head>

<body>
    <input type="checkbox" id="sandwich">
    <label for="sandwich" class="sandwich">
        <i class="fa fa-bars"></i>
    </label>

    <div id="bar">
        <div class="wrap">
            <header>
                <h1>
                    <span>
                        <a href="/">{{ response.title }}</a>
                    </span>
                </h1>
            </header>
            <nav class="menu">
                <ul>
                    {% if not self.subnav()|trim %}
                    <li>
                        <a href="#"><i class="fa fa-bars"></i></a>
                        <ul>
                            <li><a href="/">All</a></li>
                            {% for category, slug in response.categories.items() %}
                            <li>
                                <a href="/c/{{ slug }}">{{ category }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <a href="mailto:{{ response.email }}"><i class="fa-regular fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/tifa/paprika-pages"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
            </nav>
        </div>

        {% if self.subnav()|trim %}
        <div class="subnav">
            {% block subnav %}{% endblock %}
        </div>
        {% endif %}
    </div>

    <div id="content">
        <article>
            {% block content %}{% endblock %}
        </article>
        <footer>
            <div>
                &copy;
            </div>
        </footer>
    </div>

    <div id="overlay"></div>

    <div id="lightbox" class="lightbox">
        <span class="lightbox-close">&times;</span>
        <span class="lightbox-prev">&#10094;</span>
        <span class="lightbox-next">&#10095;</span>
        <img class="lightbox-content" id="lightbox-img">
    </div>

    <script src="https://kit.fontawesome.com/604b1fd259.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/js/script.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
