{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/recipe.css">
{% endblock %}

{% block content %}
<div id="recipe">
    <div class="heading">
        <h2>{{ response.recipe.name }}</h2>
        <div class="subtitle">
            Created on <span class="date">{{ response.recipe.created }}</span>
            {% if response.recipe.created != response.recipe.time_updated %}
            | Updated on <span class="date">{{ response.recipe.time_updated }}</span>
            {% endif %}
        </div>
    </div>
    {% if response.recipe.prep_time or response.recipe.cook_time or response.recipe.total_time or response.recipe.servings or response.recipe.rating or response.recipe.difficulty %}
    <div class="metadata">
        <dl>
            {% if response.recipe.prep_time %}
            <div>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <div>
                    <dt>Prep Time</dt>
                    <dd>{{ response.recipe.prep_time }}</dd>
                </div>
            </div>
            {% endif %}
            {% if response.recipe.cook_time %}
            <div>
                <i class="fa fa-fire" aria-hidden="true"></i>
                <div>
                    <dt>Cook Time</dt>
                    <dd>{{ response.recipe.cook_time }}</dd>
                </div>
            </div>
            {% endif %}
            {% if response.recipe.total_time %}
            <div>
                <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                <div>
                    <dt>Total Time</dt>
                    <dd>{{ response.recipe.total_time }}</dd>
                </div>
            </div>
            {% endif %}
            {% if response.recipe.servings %}
            <div>
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                <div>
                    <dt>Servings</dt>
                    <dd>{{ response.recipe.servings }}</dd>
                </div>
            </div>
            {% endif %}
            {% if response.recipe.rating %}
            <div>
                <i class="fa fa-award" aria-hidden="true"></i>
                <div>
                    <dt>Rating</dt>
                    <dd>{{ response.recipe.rating }}</dd>
                </div>
            </div>
            {% endif %}
            {% if response.recipe.difficulty %}
            <div>
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <div>
                    <dt>Difficulty</dt>
                    <dd>{{ response.recipe.difficulty }}</dd>
                </div>
            </div>
            {% endif %}
        </dl>
    </div>
    {% endif %}
    <div class="columns">
        <div class="sidebar">
            <div class="thumbnail">
                {% if response.recipe.photo_large %}
                <img src="/static/images/{{ response.recipe.photo_large }}" alt="{{ response.recipe.name }}" class="lightbox-trigger" style="cursor: pointer;">
                {% else %}
                <i class="fa-solid fa-utensils" aria-hidden="true"></i>
                {% endif %}
            </div>
            {% if response.recipe.ingredients %}
            <div class="section ingredients">
                <h3>Ingredients</h3>
                <div>
                    {{ response.recipe.ingredients|safe }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="content">
            {% if response.recipe.directions %}
            <div class="section">
                <h3>Directions</h3>
                {{ response.recipe.directions|safe }}
            </div>
            {% endif %}

            {% if response.recipe.nutritional_info %}
            <div class="section">
                <h3>Nutritional Info</h3>
                <div>
                    {{ response.recipe.nutritional_info|safe }}
                </div>
            </div>
            {% endif %}

            {% if response.recipe.notes %}
            <div class="section">
                <h3>Notes</h3>
                <div>
                    {{ response.recipe.notes|safe }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
