@import "_common";

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;

    .card.secret:hover {
        img {
            @include transition();
            filter: brightness(50%)
        }
    }
    .card:hover .photo {
        i, img {
        transform: scale(1.1);
        }
    }
    .card {
        width: 200px;
        height: 230px;
        overflow: hidden;
        list-style-type: none;
        line-height: 1em;
        text-align: center;

        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 150px;
            overflow: hidden;
            background: #eeeeee;

            i {
                @include transition();
                font-size: 3em;
                color: #fff;
            }

            img {
                @include transition();
                height: 200px;
                width: auto;
                display: block;
            }
        }

        h3 {
            font-size: 1em;
            margin: 10px;

            .fa-lock {
                color: #e4bb18;
            }
        }

        .rating {
            margin: 10px;
            font-size: .9em;

            .fa-solid.filled {
                color: #f7cb1d;
            }

            .fa-solid.empty {
                color: #c2c2c2;
            }
        }
    }
}
