@import "_common";

#bar .subnav {
    clear: both;
    background: #f2f2f2;
    width: 100%;
    text-align: center;
    overflow: auto;

    ul {
        padding: 10px 25px;
        list-style: none;
    }

    li {
        text-transform: uppercase;
        display: inline-block;
        margin-right: 20px;
    }

    li:last-child {
        margin-right: 0;
    }

    a:hover,
    li.active a {
        border-bottom: 1px solid #aaa;
    }
}

#content {
    top: 11em;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;

    .card.secret:hover {
        img {
            @include transition();
            filter: brightness(50%)
        }
    }
    .card:hover .photo {
        i, img {
        transform: scale(1.1);
        }
    }
    .card {
        width: 200px;
        height: 230px;
        overflow: hidden;
        list-style-type: none;
        line-height: 1em;
        text-align: center;

        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 150px;
            overflow: hidden;
            background: #eeeeee;

            i {
                @include transition();
                font-size: 3em;
                color: #fff;
            }

            img {
                @include transition();
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }

        h3 {
            font-size: 1em;
            margin: 10px;

            .fa-lock {
                color: #e4bb18;
            }
        }

        .rating {
            margin: 10px;
            font-size: .9em;

            .fa-solid.filled {
                color: #f7cb1d;
            }

            .fa-solid.empty {
                color: #c2c2c2;
            }
        }
    }
}

@media print {
    #gallery {
        display: block !important;

        .card {
            display: inline-block !important;
            position: static !important;
            page-break-inside: avoid;
            width: 120px !important;
            height: 150px !important;
            margin: 5px;

            .photo {
                width: 120px !important;
                height: 90px !important;

                img {
                    max-width: 120px !important;
                    max-height: 90px !important;
                }
            }

            h3 {
                font-size: 0.8em;
            }
        }
    }
}
