#recipe {
    .heading {
        padding-bottom: 2em;
        text-align: center;
        border-bottom: 2px solid #eee;
        h2 {
            margin: 0 1em .7em;
            font-size: 2.5em;
            text-transform: uppercase;
        }
        .subtitle {
            font-size: .9em;
            .date {
                font-weight: bold;
            }
        }
    }
    .metadata {
        font-size: .8em;
        padding: 2em;
        border-bottom: 2px solid #eee;
        text-align: center;
        i {
            font-size: 2.5em;
            display: inline-block;
            color: #a4a4a4;
        }
        div {
            text-align: left;
            display: inline-block;
            margin: 0 1em;
            dt {
                font-weight: bold;
                font-size: .9em;
                text-transform: uppercase;
                color: #a5a5a5;
            }
        }
    }

    .columns {
        margin: 2em 0;
        display: flex;

        .section {
            h3 {
                position: relative;
                text-align: center;
                font: 2em Lobster;
                margin-bottom: 1em;
            }
            h3::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -.4em;
                width: 100%;
                background: #eee;
                height: 1em;
                z-index: -1;
            }
        }

        .sidebar {
            width: 250px;
            flex-shrink: 0;
            .thumbnail {
                border-radius: 5px;
                background: #eee;
                overflow: hidden;
                width: 100%;
                display: block;
                margin-bottom: 2em;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 100%;
                }
                i {
                    color: #fff;
                    font-size: 3em;
                    height: 150px;
                    line-height: 150px;
                }
            }
            h3 {
                font-size: 1.5em;
            }
            p {
                text-transform: uppercase;
                margin-bottom: 1em;
            }
            ul {
                list-style: none;
                margin-bottom: 1.5em;
                li {
                    padding: .5em;
                    border-bottom: 1px dashed #e4e4e4;
                    display: flex;
                    align-items: flex-start;
                    gap: 0.75em;
                    span {
                        font-size: 1.5em;
                        color: #6f6f6f;
                        width: 4ch;
                        text-align: right;
                        flex-shrink: 0;
                    }
                }
                li:last-child {
                    border-bottom: none;
                }
                li:not(:has(span))::before {
                    font-size: 1.5em;
                    content: " ";
                    display: inline-block;
                    width: 4ch;
                }
            }
        }

        .content {
            flex-grow: 1;
            margin-left: 40px;
            line-height: 2em;
            .categories {
                font-size: .9em;
                i {
                    margin-right: .5em;
                }
                ul {
                    display: inline-block;
                    margin-bottom: 1em;
                }
                li {
                    display: inline-block;
                    margin-right: .5em;
                    text-transform: uppercase;
                    flex-shrink: 0;
                }
            }
            .description {
                background-color: #e4e4e4;
                font-style: italic;
                padding: 2em;
                border-radius: 5px;
                margin-bottom: 2em;
                display: flex;
                align-items: flex-start;
                gap: 0.75em;
                i {
                    flex-shrink: 0;
                    color: #6f6f6f;
                    font-size: 2em;
                }
            }
            img {
                max-width: 250px;
                margin-right: 1em;
                border-radius: 5px;
            }
            .section {
                p {
                    margin-bottom: 20px;
                }
                li {
                    margin: 0 2em;
                }
            }
        }
    }
}
